<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<h1 th:text="${'This is report: ' + report.name}">Report name</h1>
<div th:text="${report.description}"></div>
<table>
    <tr>
        <th>ID</th>
        <th>name</th>
        <th>value</th>
        <th>description</th>
    </tr>
    <tr th:each="row : ${report.table}">
        <td th:text="${row.id}">ID</td>
        <td th:text="${row.name}">name</td>
        <td th:text="${row.value}">value</td>
        <td th:text="${row.description}">description</td>
    </tr>
</table>
</body>
</html>